<h1>Editing Unpublished Obituary</h1>

<%= render 'form', unpublished_obituary: @unpublished_obituary %>

<%= link_to 'Show', @unpublished_obituary %> |
<%= link_to 'Back', unpublished_obituaries_path %>
