<p id="notice"><%= notice %></p>

<p>
  <strong>Email address:</strong>
  <%= @email_subscription.email_address %>
</p>

<%= link_to 'Edit', edit_email_subscription_path(@email_subscription) %> |
<%= link_to 'Back', email_subscriptions_path %>
