<% content_for :page_header do %>
	  <section class="hero is-info is-fullheight-with-navbar fashion">
	    <div class="hero-body">
	      <div class="container">
	        <p class="title montserrat over9000">
	          <i class="fas fa-tshirt pink"></i> <span>FASHION</span>
	        </p>
	      </div>
	    </div>
		
	  </section>
	 
<% end %>


