<% content_for :page_header do %>
	  <section class="hero is-info is-fullheight-with-navbar">
	    <div class="hero-body">
	      <div class="container">
	        <p class="title montserrat over9000">
	          <i class="far fa-newspaper newspaper-yellow"></i> <span>NEWS</span>
	        </p>
	      </div>
	    </div>
	  </section>
<% end %>


<article class="message is-info">
  <div class="message-header">
    <p class="montserrat">Welcome#index <span class="tag is-light">Light</span>
<span class="tag is-white">White</span>
<span class="tag is-primary">Primary</span>
<span class="tag is-link">Link</span>
<span class="tag is-info">Info</span>
<span class="tag is-success">Success</span>
<span class="tag is-warning">Warning</span>
<span class="tag is-danger">Danger</span></p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
  </div>
</article>

<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Comments
    </p>
  </header>
  <div class="card-content">
    <div class="content">
	  <div class="media">
	        DISQUS GO HERE
			</div>
    </div>
  </div>
  
</div>