<% content_for :page_header do %>
	  <section class="hero is-info is-fullheight-with-navbar">
	    <div class="hero-body">
	      <div class="container">
	        <p class="title montserrat over9000">
	          <i class="far fa-newspaper newspaper-yellow"></i> <span>NEWS</span>
	        </p>
	      </div>
	    </div>
	  </section>
<% end %>

    <% @articles.each do |article| %>
      
    
<article class="message is-info">
  <div class="message-header">
    <p class="montserrat"><%= article.title %>
<span class="tag is-warning"><%= article.category.name %></span></p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
	  <%= image_tag(article.thumbnail.url)%>
    <%= article.content %>
  </div>
</article>
<% end %>
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Comments
    </p>
  </header>
  <div class="card-content">
    <div class="content">
	  <div class="media">
	        DISQUS GO HERE
			</div>
    </div>
  </div>
  
</div>