<% content_for :page_header do %>
	  <section class="hero is-info is-fullheight-with-navbar map">
	    <div class="hero-body">
	      <div class="container">
			  <%= render 'layouts/google_map' %>
	       
	      </div>
	    </div>
		
	  </section>
	 
<% end %>


