<% content_for :page_header do %>
	  <section class="hero is-info map">
	    <div class="hero-body">
	      <div class="container">
	        <p class="title montserrat over9000">
	          <i class="fas fa-map"></i>  <span>MAP</span>
	        </p>
	      </div>
	    </div>
	  </section>
	
<% end %>


<%= render 'layouts/google_map'%>