<% content_for :page_header do %>
	  <section class="hero is-info is-fullheight-with-navbar map">
	    <div class="hero-body">
	      <div class="container">
			  <div class="columns">
				  <div class="column">
				  </div>
				  <div class="column">
		  	        <div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Email Subscription
	  
    </p>
  </header>
  <div class="card-content">
    <div class="content">
		
	  <div class="control has-icons-left has-icons-right">
	    <input class="input" type="email" placeholder="Email">
	    <span class="icon is-small is-left">
	      <i class="fas fa-envelope"></i>
	    </span>
	    <span class="icon is-small is-right">
	      <i class="fas fa-check"></i>
	    </span>
	  </div>
	  <a class="button is-fullwidth is-info" style="margin-top:10px;">Subscribe</a>
	  <p class="is-size-7"  style="margin-top:10px;">No spam just news articles delivered directly to your inbox.</p>
    </div>
  </div>
</div>
				  </div>
				  <div class="column">
				  </div>
			  </div>
	       
	      </div>
	    </div>
		
	  </section>
	 
<% end %>