<% content_for :page_header do %>
	  <section class="hero is-info is-fullheight-with-navbar hurricane">
	    <div class="hero-body">
	      <div class="container">
			  <div class="columns">
			  	<div class="column"></div>
			  	<div class="column">
			  		<%= render 'layouts/weather_widget'%>
			  	</div>
			  	<div class="column"></div>
			  </div>
	       
	      </div>
	    </div>
		
	  </section>
	 
<% end %>





