<% content_for :page_header do %>
	  <section class="hero is-info weather1">
	    <div class="hero-body">
	      <div class="container">
	        <p class="title montserrat over9000">
	          <span>WEATHER</span>
	        </p>
	      </div>
	    </div>
	  </section>
	
<% end %>


<%= render 'layouts/weather_widget'%>