<h1>Editing Unpublished Image Post</h1>

<%= render 'form', unpublished_image_post: @unpublished_image_post %>

<%= link_to 'Show', @unpublished_image_post %> |
<%= link_to 'Back', unpublished_image_posts_path %>
