<nav class="navbar has-text-centered" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
	<a class="navbar-item">
	        Home
	      </a>

	      <a class="navbar-item">
	        Documentation
	      </a>
  </div>
</nav>