<article class="message">
  <div class="message-body">
	 <div class="tags">
		 <% @categories.each do |category|%>
		 <%= cache category do %>
	   <span class="tag is-warning"><%= category.name%></span>
	   <%end%>
	   <%end%>
	 </div>
  </div>
</article>