<footer class="footer">
	
	<div class="content has-text-centered">
				      <p>
				        <strong>NEWS</strong> by <a href="https://jgthms.com">Wobble</a>. <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Advertise</a> with us.  Become an <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">author</a>.
				        
				      </p>
				    </div>
</footer>