<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
	  <%= link_to root_path, :class => 'navbar-item' do%>
	  <i class="far fa-newspaper newspaper-yellow"></i> <span>NEWS</span>
	  <% end %>
  </div>
  <div class="is-clearfixed"></div>
  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"  data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
  <div class="navbar-menu is-pull-right">
  <div class="navbar-start is-active" id="navMenu" >
  
		
  	  <%= link_to welcome_weather_path, :class => 'navbar-item' do%>
  	  <i class="fas fa-bolt"></i>
  	  <% end %>
    	  <%= link_to welcome_map_path, :class => 'navbar-item' do%>
    	  <i class="fas fa-map-marker-alt"></i>
    	  <% end %>
    
      <a class="navbar-item">
        <i class="fas fa-search"></i>
      </a>
	  </div>
  <div class="navbar-end" id="navbarEnd">
        <a class="navbar-item">
          News
        </a>
      
      <a class="navbar-item">
        Games
      </a>
	 <div class="buttons" style="padding:0 5px;">
	           <a class="button is-primary is-inverted is-outlined">
	             <strong>Subscribe</strong>
	           </a>
		   </div>
	  </div>
	  </div>
      
</nav>