<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <i class="far fa-newspaper newspaper-yellow"></i> <span>NEWS</span>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-end" id="navbarEnd">
        <a class="navbar-item">
          News
        </a>
      
      <a class="navbar-item">
        Games
      </a>
	 <div class="buttons" style="padding:0 5px;">
	           <a class="button is-primary">
	             <strong>Subscribe</strong>
	           </a>
		   </div>
	  </div>
</nav>