				 <% if notice%>
				 <div class="card">
					 <div class="card-content">
				  <p class="notice"><%= notice %></p>
				  <p class="alert"><%= alert %></p>
				  
			  </div>
		  </div>
				  <% end %>