<div class="columns">
	<% @image_posts.each do |image_post| %>
  <div class="column">
    <figure class="image is-2by1"><%= image_tag(image_post.image_url)%></figure>
  </div>
  <% end %>
  
  
</div>


<br>