<div class="columns">
  <div class="column">
    <figure class="image is-2by1"><%= image_tag('splash.jpg')%></figure>
  </div>
  <div class="column">
    <figure class="image is-2by1"><%= image_tag('map.jpg')%></figure>
  </div>
  <div class="column">
    <figure class="image is-2by1"><%= image_tag('stack.jpg')%></figure>
  </div>
  
</div>

<br>